<%- include('./partials/header')%>
<div class="page-container" id="profile-page">
	<div id="top-section">
		<div id="user-info">
			<div id="profile-image">
				<%if(user && user.profile_image && user.profile_image.cropped_profile_path){%>
					<img src="<%=user.profile_image.cropped_profile_path%>">
				<%}else{%>
					<img src="/photos/generic_person.jpg">
				<%}%>	
			</div>
			<i class="fas fa-camera"></i>
			<h1 ><strong><%=user.firstName%> <%=user.lastName%></strong></h1>
		</div>

		<hr>
		<div class="row" id='profile-nav'>
			<div class="col-auto">
				<button onclick="switchToTalents(this);" id="talents-button" class="active btn btn-primary">Talents</button>
			</div>
			<div class="col-auto">
				<button onclick="switchToAbout(this);" id="about-button" class='btn btn-primary'>About</button>
			</div>
			<div class="col-auto">
				<button class='btn btn-primary'>Your Hive</button>
			</div>
			<div class="col-auto">
				<button class='btn btn-primary'>Financials</button>
			</div>
			<div class="col-auto">
				<button class='btn btn-primary'>More info</button>
			</div>		
		</div>
	</div>
	<div class="content-section">
		<div class="page active" id="talents">
			<div class="selector-bar">
				<div class="row">
					<div class="col-lg-2">
						<%if (user && user.talents && user.talents.length>0){%>
							<select onchange="determineActive(this);" class="form-control">
								<%user.talents.forEach(function(talent){%>
									<option>
										<%if (talent && talent.title){%>
											<%=talent.title%>
										<%}else{%>
											Unnamed
										<%}%>
									</option>
								<%})%>
							</select>
						<%}%>
					</div>
					<div class="col-lg-2">
						<%if (user && user.talents && user.talents.length>0){%>
							<button onclick="toggleTalentEditable();" class="btn btn-primary">Manage</button>
						<%}%>
					</div>
					<div class="col-lg-6">
						<!-- I'm intentionally empty -->
					</div>
					<div class="col-lg-2">
						<button onclick="showNewTalentForm();" class="btn btn-primary">New Talent</button>
					</div>
				</div>
			</div>
			<%if (user && user.talents && user.talents.length>0){%>
				<%user.talents.forEach(function(talent){%>
					<div class="talent-item not-editable">
						<div class="row">
							<div class="col-lg-8 product-summary">
								<div class="row">
									<div class="col">
										<a class="user" href=""><%=user.firstName%> <%=user.lastName%></a>
										<input type="text" name="product" class="title" value="<%=talent.title%>" placeholder="Talent Name">
										<h5 class="rating orange-color"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i></h5>
										<div class="price-formatter">
											<h1 class="price">$</h1>
											<input type="number" min="0" class="price ones" name="price" placeholder="100">
											<h1 class="price">.</h1>
											<input type="number" class="price decimal" name="price" min="0" placeholder="00">
										</div>
										<div class="pricing-method-formatter">
											<h2 class='pricing-method'>/</h2>
											<input type="text" class="pricing-method" name="pricing_method" placeholder="per event">
										</div>
										
										
										<hr>
										<ul>
											<li>
												<textarea name="basic-info" class="description-bullet" onkeypress="addBullet(event, this);" placeholder="Summary information"></textarea>
												<button onclick="removeLI(this)">X</button>
											</li>
										</ul>
									</div>
									<div class="col showcase">
										<img src="/photos/logo.jpeg">
										<div class="add-photo">
											<button class="btn btn-primary add-edit" onclick="showAddEditPhotoForm('<%=talent._id%>')">Add/ Edit Photos</button>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 availability">
								<h1 class="price">$100.67</h1>
								<%- include('./partials/calendar')%>
							</div>
						</div>
						<div class="row description">
							<div class="col-lg-4 profile-container">
								<div class="name-and-photo orange-background">
									<div class="row">
										<div class="col">
											<img src="<%=user.profile_image.cropped_profile_path%>">
								 			<a href=""><h1><%=user.firstName%> <%=user.lastName%></h1></a>
										</div>
									</div>
								</div>
								<div class="basic-user">
									<div class="row social-links">
										<div class="col-sm-3">
											<a href="">Reviews</a>
										</div>
										<div class="col-sm-1">
											<a href=""><h1><i class="fab fa-instagram"></i></h1></a>
										</div>
										<div class="col-sm-1">
											<a href=""><h1><i class="fab fa-facebook"></i></h1></a>
										</div>
										<div class="col-sm-1">
											<a href=""><h1><i class="fab fa-twitter"></i></h1></a>
										</div>
									</div>
								 <p><%=user.about.bio.text%></p>
								 <div class="skills">
								 	<h2>Skill 1</h2>
								 	<h2>Skill 2</h2>
								 	<h2>Skill 3</h2>
								 </div>
								 <div class="experiences">
								 	<%user.about.work.forEach(function(o){%>
									 	<div class="row item">
									 		<div class="col-lg-3">
									 			<img src="<%=o.companyLogo%>">
									 		</div>
									 		<div class="col-lg-9">
									 			<div class="row company-info">
									 				<div class="col">
									 					<h2 class="company"><%=o.company%></h2>
									 				</div>
									 				<div class="col">
									 					<h2 class="position"><%=o.position%></h2>
									 				</div>
									 			</div>
									 		</div>
									 	</div>
									 <%})%>
								 </div>
								</div>
							</div>
							<div class="col-lg-8 marketing-photos">
								<h1>Learn More</h1>
								<div class="scroll-window">
									<img src="/photos/logo.jpeg">
									<img src="/photos/logo_invert.jpeg">
									<img src="/photos/logo.jpeg">
								</div>
								<div class="add-marketing-info">
									<button class="btn btn-primary add-edit" onclick="showAddEditPhotoForm()">Add/ Edit Photos</button>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<h1>Ratings</h1>
							</div>
						</div>
					</div>
				<%})%>
			<%}%>
		</div>
		<div class="page" id="about">
			<div class="row">
				<div class="col-lg-3 left">
					<h1>About</h1>
					<ul>
						<li onclick="menuChange(this);" class="active">Bio</li>
						<li onclick="menuChange(this);">Work</li>
						<li onclick="menuChange(this);">Eduation</li>
					</ul>
				</div>
				<div class="col right">
					<div id="bio" class="active">
						<form on action="/user/<%=user._id%>/edit/bio" method="POST">
							<textarea name="text"><% if (user && user.about && user.about.bio){%><%=user.about.bio.text%><%}%></textarea>
							<div class="row">
								<div class="col-lg-3">
									<button type="button" onclick="bioEditable();" id="edit" class="strip btn btn-primary">Edit</button>
								</div>
								<div class="col-lg-5">
									<!-- Im empty on purpose -->
								</div>
								<div class="col-lg-2">
									<button type="button" onclick="bioNotEditable();" id="cancel" class="strip btn btn-primary">Cancel</button>
								</div>
								<div class="col-lg-2">
									<button id="save" class="strip btn btn-primary">Save</button>
								</div>
							</div>
						</form>
					</div>
					<%- include('./profile_partials/work.ejs')%>
					<div id="education">
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include('./profile_pic/new_or_edit')%>
<%- include('./profile_pic/photo_editor')%>
<%- include('./talent_photos/talent_photo_form')%>
<%- include('./partials/editAvailability')%>
<%- include('./partials/new_talent_form')%>

<script type="text/javascript" src='/scripts/work.js'></script>
<script type="text/javascript" src='/scripts/editWork.js'></script>
<script type="text/javascript" src='/scripts/photo_edit.js'></script>
<script type="text/javascript" src='/scripts/autoFillAjax.js' userId='<%=user._id%>'></script>
<script type="text/javascript" src='/scripts/profileImage.js'></script>
<script type="text/javascript" src='/scripts/display_calendar.js'></script>
<script type="text/javascript" src='/scripts/talent_photo_form.js'></script>
<!-- <script type="text/javascript" src='/scripts/availability_calender.js'></script> -->

<script type="text/javascript">
	var arr;
	var editMode = false;
	var currentFocus =-1;
	var years = buildYears();
	var aboutRelation = {
		bio:{
			li: document.querySelectorAll('#about .left ul li')[0],
			section: document.querySelector('#about .right #bio')
		},
		work:{
			li: document.querySelectorAll('#about .left ul li')[1],
			section: document.querySelector('#about .right #work')
		},
		education:{
			li: document.querySelectorAll('#about .left ul li')[2],
			section: document.querySelector('#about .right #education')
		}
	}
	initializeAutoFillEvenListeners(document.getElementById('company'));
	initializeAutoFillEvenListeners(document.getElementById('position'));
	initializeAutoFillEvenListeners(document.getElementById('city'));


	addYearsToDropDown(document.getElementById('from'));
	addYearsToDropDown(document.getElementById('to'));

	//bio
	$('#about .right #bio textarea').prop('disabled', true); 


	//create event listeners for drag event
	dragElement(document.getElementById("photo"),document.getElementById("profile_img"));

	//for talent-photo-form
	mainImageInitialize(100, 166, 12);


	function showEditAvailabilityForm(){
		$('.edit-availability').addClass('show');
		$('.page-container').addClass('hide');
	}

	function closeAvailabilityForm(){
		$('.edit-availability').removeClass('show');
		$('.page-container').removeClass('hide');
	}

	function showNewTalentForm(){
		$('.new-talent-form').addClass('show');
		$('.page-container').addClass('hide');
	}

	function hideNewTalentForm(){
		$('.new-talent-form').removeClass('show');
		$('.page-container').removeClass('hide');
	}


	if($('.talent-item').length >0){
		$('.talent-item').slice(0,1).addClass('active');
	}

	function determineActive(sel){
		$('.talent-item').removeClass('active');
		console.log(sel.selectedIndex)
		for(var i =0; i<$('.talent-item').length; i++){
			if(i===sel.selectedIndex){
				$('.talent-item').slice(i, i+1).addClass('active');
			}
		}

	}

	function toggleTalentEditable(){
		$('#talents .talent-item').toggleClass('not-editable');
	}

	function editPhoto(){
		addDisplayItems();

	}



	function mainImageInitialize(height, leftPos, topPos){
		$('.display-image img').attr('height', height + '%');
		document.querySelector(".display-image img").style.left = leftPos + 'px';
		document.querySelector(".display-image img").style.top = topPos + 'px';
	}

	
	dragElement(document.querySelector('.main-image-cut-out'), document.querySelector(".main-image"));
	function updateMainImageHeight(slider){
		$('.display-image img').attr('height', slider.value + '%');
	}

	function cancelEditedPhoto(){
		removeDisplayItems();
		mainImageInitialize(100, 166, 12);
	}


	function saveEditedPhoto(){
		$('#talent-photo-form .loader').removeClass('hide');

		var reader = new FileReader();
		var image = document.querySelector('.main-image');
		var canvas = document.createElement('canvas');
		var photo = document.querySelector('.image-dialog').files[0];
		
	   	canvas.height = 373;
		canvas.width = 373;

		cropMainImage(canvas, image);

		reader.readAsDataURL(photo);

		reader.onload = function (e) {
			var data = {
				'orient[dimension]': $('.main-image').attr('height'),
				'orient[top]': image.style.top,
				'orient[left]': image.style.left,
				'cropped_main_image': canvas.toDataURL('image/jpeg'),
				'main_image': e.target.result
			}
			sendMainImage(data);
			removeDisplayItems();

			$('.display-image').removeClass('show');
			$('.main-image').removeClass('show');
			$('.main-image').attr('src', '');
			$('#talent-photo-form .loader').addClass('hide');
	    };
	}

	function sendMainImage(data){
		let urlEncodedData = "",
  			urlEncodedDataPairs = [],
  			name;

		for( name in data ) {
			urlEncodedDataPairs.push( encodeURIComponent( name ) + '=' + encodeURIComponent( data[name] ) );
		}

		urlEncodedData = urlEncodedDataPairs.join( '&' ).replace( /%20/g, '+' );

		var xmlHttpReq = false;

		if (window.XMLHttpRequest) {
			ajax = new XMLHttpRequest();
		}else if (window.ActiveXObject) {
			ajax = new ActiveXObject("Microsoft.XMLHTTP");
		}

		ajax.open("POST", "/user/<%=user._id%>/talent/"+ currentTalentId +"/new_main_photo");
		ajax.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

		var ct =0;		

		ajax.onreadystatechange = function() {
			if (this.status == 200) {
				if(ct <1){
					updatePhotoGallery();
				}
				ct++;
				console.log(ct);
				// showMainPage();
				// location.reload();
			}
		};

		ajax.send(urlEncodedData);
	}

	function updatePhotoGallery(){
		var requestUrl = '/user/<%=user._id%>/talent/'+ currentTalentId +'/main_images';

		$.get(requestUrl).done(function(data){
   			console.log(data);
   			appendPhotos(data);
		});
	}

	function appendPhotos(images){
		$('.photo-gallary').empty();
		if(images && images.length >0){
			for(var i = images.length-1; i >-1; i--){
				$('.photo-gallary').append(`<div class='col-lg-3 image-container'>
												<img  src='` + images[i].cropped_path + `'>
												<div class='overlay'>
													<button class='delete' onclick='deletePhotoFromGallary(` + images[i] + `);'><i class='fas fa-times-circle'></i></button>
													<button class='edit' onclick='editPhotoFromGallary(` + images[i] + `);'><i class="fas fa-edit"></i></button>
												</div>
											</div`);
			}
		}
		
	}

	function editPhotoFromGallary(image){
		$('.display-image').addClass('show');
		$('.main-image').addClass('show');
		$('.main-image').attr('src', image.path);
	}
	
	function cropMainImage(canvas, image){
		var ctx = canvas.getContext('2d');
		var imageProp = image.style;

		var widthFactor = image.naturalWidth / image.width;
		var heightFactor = image.naturalHeight / image.height;
		var topMove = parseInt(imageProp.top.substring(0, imageProp.top.length-2));
		var leftMove = parseInt(imageProp.left.substring(0, imageProp.left.length-2));

		ctx.drawImage(image, (166 * widthFactor) - (leftMove * widthFactor), (heightFactor) - (topMove * heightFactor), image.naturalWidth * widthFactor * (373/image.naturalHeight), 373 * heightFactor,0,0,image.naturalWidth * (373/image.naturalHeight), 373);
	}



	function addBullet(e, input){
		input.style.height = '1px';
		input.style.height = (3+input.scrollHeight)+"px"
		if(e.code == 'Enter'){
			e.preventDefault();
			console.log(input.parentNode.parentNode);
			input.parentNode.parentNode.insertAdjacentHTML('beforeend', `<li>
										<textarea name="basic-info" class="description-bullet" onkeypress="addBullet(event, this);" placeholder="Summary information"></textarea>
										<button onclick="removeLI(this)">X</button>
									</li>`);
			$('ul li textarea').slice($('ul li textarea').length-1, $('ul li textarea').length).focus();
		}
	}

	function removeLI(button){
		if (button.parentNode.parentNode.childNodes.length -2 >1){
			button.parentNode.remove();
		}
	}

	function switchToAbout(button){
		$('#profile-nav button').removeClass('active');
		button.classList.add('active');

		$('.content-section .page').removeClass('active');
		$('.content-section #about').slice(0,1).addClass('active');
	}

	function switchToTalents(button){
		$('#profile-nav button').removeClass('active');
		button.classList.add('active');

		$('.content-section .page').removeClass('active');
		$('.content-section #talents').slice(0,1).addClass('active');
	}

	function menuChange(li){
		$('#about .left li').removeClass('active');
		li.classList.add('active');
		
		for(var x in aboutRelation){
			if(aboutRelation[x].li === li){
				aboutRelation[x].section.classList.add('active');
			}else{
				aboutRelation[x].section.classList.remove('active');
			}
		}
	}

	function bioEditable(){
		$('#about .right #bio #edit').addClass('hide');
		$('#about .right #bio #cancel').addClass('show');
		$('#about .right #bio #save').addClass('show');

		$('#about .right #bio textarea').addClass('enabled');
		$('#about .right #bio textarea').prop('disabled', false); 

	}

	function bioNotEditable(){
		$('#about .right #bio #edit').removeClass('hide');
		$('#about .right #bio #cancel').removeClass('show');
		$('#about .right #bio #save').removeClass('show');

		$('#about .right #bio textarea').removeClass('enabled');
		location.reload();
	}

	function showMainPage(){
		$('.page-container').removeClass('hide');
		$('.photo-selector').removeClass('show');
		$('#photo-editor').removeClass('show');
	}

	function sendImage(data) {
  let urlEncodedData = "",
  urlEncodedDataPairs = [],
  name;

  for( name in data ) {
		urlEncodedDataPairs.push( encodeURIComponent( name ) + '=' + encodeURIComponent( data[name] ) );
	  }
	  urlEncodedData = urlEncodedDataPairs.join( '&' ).replace( /%20/g, '+' );

  var xmlHttpReq = false;

  if (window.XMLHttpRequest) {
    ajax = new XMLHttpRequest();
  }
  else if (window.ActiveXObject) {
    ajax = new ActiveXObject("Microsoft.XMLHTTP");
  }

  ajax.open("POST", "/user/<%=user._id%>/edit_profile_image");
  ajax.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

  
  ajax.onreadystatechange = function() {
	    if (this.status == 200) {
	    	$('.loader').addClass('hide');
	      showMainPage();
	      location.reload();
	    }
	  };

  ajax.send(urlEncodedData);
}
</script>
<%- include('./partials/footer')%>