<%- include('./partials/header')%>

<div class="page-container" id="profile-page">
	<div id="top-section">
		<div id="user-info">
			<div id="profile-image">
				<%if(currentUser.profile_img && currentUser.profile_img.path){%>
					<img src="/photos/generic_person.jpg">
				<%}else{%>
					<img src="/photos/generic_person.jpg">
				<%}%>
				<i class="fas fa-camera"></i>
			</div>
			<h1 class="orange-color"><strong><%=currentUser.firstName%> <%=currentUser.lastName%></strong></h1>
		</div>

		<hr>
		<div class="row">
			<div class="col">
				<button class="btn btn-primary">Show 1</button>
			</div>
			<div class="col">
				<button class='btn btn-primary'>Show 2</button>
			</div>
			<div class="col">
				<button class='btn btn-primary'>Show 3</button>
			</div>
			<div class="col">
				<button class='btn btn-primary'>Show 4</button>
			</div>
			<div class="col">
				<button class='btn btn-primary'>Show 5</button>
			</div>
			<div class="col">
				<button class='btn btn-primary'>Edit Profile</button>
			</div>			
		</div>
	</div>
	<div id="left-section">
		<h1>Settings</h1>
		<ul>
			<li class="active">Account</li>
			<li>Setting 2</li>
			<li>Setting 3</li>
		</ul>
	</div>
	<div id="right-section">
		<div class="row">
			<div class="col-md-8">
				<h1>Account</h1>
				<h2>Explanation of this tab</h2>
				<p>Signed in as <%=currentUser.email%></p>
			</div>
			<div class="col-md-4">
				<img src="/photos/logo.jpeg">
			</div>
		</div>
		<hr>
		<h2>Your Profile</h2>
		<div class="row">
			<div class="col">
				<h3>Edit Profile Image</h3>
			</div>
			<div class="col">
				<form action="/user/<%=currentUser._id%>/edit" method="POST" enctype="multipart/form-data">
					<input type="file" name="profile_pic">
					<button>Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="photo-selector" id="photo-new-or-edit">
	<div class="row">
		<div class="col-lg-10">
			<h1>Update Profile Picture</h1>
		</div>
		<div class="col-lg-2">
			<h1>
				<i class="fas fa-times-circle"></i>
			</h1>				
		</div>
	</div>	
	<hr>
	<div class="row">
		<div class="col">
			<button id="new-photo" class="btn btn-primary">+  Upload New Photo</button>
		</div>
		<div class="col">
			<button class="btn btn-primary"><i class="fas fa-pen"></i></button>
		</div>

	</div>
	<div class="row">
		<div class="col">
			<h2>Previous Photo</h2>
		</div>
	</div>
</div>
<div class="photo-selector" id="photo-editor">
	<div class="row">
		<div class="col-lg-10">
			<h1>Update Profile Picture</h1>
		</div>
		<div class="col-lg-2">
			<h1>
				<i class="fas fa-times-circle"></i>
			</h1>				
		</div>
	</div>	
	<hr>
	<div id="photo">
		
			<img id="profile_img" src="">

			<div class="cut-out">
				
			</div>
		<canvas id="myCanvas" width="inherit" height="inherit"></canvas>
	</div>
	<div class="slidecontainer">
  		<input type="range" min="50" max="200" value="50" class="slider" id="myRange">
	</div>
	<hr>
	<div class="row">
		<div class="col-lg-8">
			
		</div>
		<div class="col-lg-2">
			<button class="btn btn-primary">Cancel</button>
		</div>
		<div class="col-lg-4">
			<form action="/user/<%=currentUser._id%>/edit" method="POST" onsubmit="changeVals();" enctype="multipart/form-data">
				<input type="hidden" name="orient[dimension]" id="dimension">
				<input type="hidden" name="orient[top]" id="top_id">
				<input type="hidden" name="orient[left]" id="left_id">
				<input type="file" accept="image/x-png,image/gif,image/jpeg" onchange="readURL(this);" name="profile_image" id="profile_pic" style="display: none;">
				<input type="file" name="profile_image" id="cropped_image" style="display: none;">
				<button class="btn btn-primary">Save</button>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript">
	$('#user-info i').on('click', function(){
		$('.page-container').addClass('hide');
		$('#photo-new-or-edit').addClass('show');
	})

	$('.photo-selector i').on('click', function(){
		showMainPage();
	});

	function showMainPage(){
		$('.page-container').removeClass('hide');
		$('.photo-selector').removeClass('show');
		$('#photo-editor').removeClass('show');
	}


	var profileImage;
	function changeVals(){
		var imageProp = document.getElementById("profile_img").style;
		var image = new Image();
		image = document.getElementById('profile_img'),
  		canvas = document.getElementById('myCanvas'),
    	ctx = canvas.getContext('2d');
		ctx.drawImage(image,100, 37, 250, 250,0,0,50,50);

		$('input#dimension').val($('#profile_img').attr('height'));
		$('input#left_id').val(imageProp.left);
		$('input#top_id').val(imageProp.top);
		document.getElementById('#cropped_image').value = canvas.toDataURL('image/png');

		showMainPage();
	}

	$('#new-photo').on('click', function(){
		var input = $(document.getElementById("profile_pic"));
        input.trigger("click"); // opening dialog
        return false;
	});

	function readURL(input) {
	  if (input.files && input.files[0]) {
	  	$('#photo-editor').toggleClass('show');
	  	$('#photo-editor img').attr('height', '50%');
		$('#photo-editor img').attr('width', '50%');
	    var reader = new FileReader();
	    reader.onload = function (e) {
	      $('#profile_img')
	        .attr('src', e.target.result);
	    };

	    profileImage=input.files;
	    reader.readAsDataURL(input.files[0]);
	  }
	}

	$('.slidecontainer input').on('input', function(){
		$('#photo-editor img').attr('height', this.value + '%');
		$('#photo-editor img').attr('width', this.value + '%');
	});

	dragElement(document.getElementById("photo"),document.getElementById("profile_img"));

function dragElement(cover, elmnt) {
  var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
  if (document.getElementById(elmnt.id + "header")) {
    // if present, the header is where you move the DIV from:
    document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
  } else {
    // otherwise, move the DIV from anywhere inside the DIV:
    cover.onmousedown = dragMouseDown;
  }

  function dragMouseDown(e) {
    e = e || window.event;
    e.preventDefault();
    // get the mouse cursor position at startup:
    pos3 = e.clientX;
    pos4 = e.clientY;
    document.onmouseup = closeDragElement;
    // call a function whenever the cursor moves:
    document.onmousemove = elementDrag;
  }

  function elementDrag(e) {
    e = e || window.event;
    e.preventDefault();
    // calculate the new cursor position:
    pos1 = pos3 - e.clientX;
    pos2 = pos4 - e.clientY;
    pos3 = e.clientX;
    pos4 = e.clientY;
    // set the element's new position:
    elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
    elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
  }

  function closeDragElement() {
    // stop moving when mouse button is released:
    document.onmouseup = null;
    document.onmousemove = null;
  }
}

</script>

<%- include('./partials/footer')%>