<%- include('./partials/header')%>

<div class="page-container" id="profile-page">
	<div id="top-section">
		<div id="user-info">
			<div id="profile-image">
				<%if(currentUser.profile_image && currentUser.profile_image.cropped_profile_path){%>
					<img src="<%=currentUser.profile_image.cropped_profile_path%>">
				<%}else{%>
					<img src="/photos/generic_person.jpg">
				<%}%>	
			</div>
			<i class="fas fa-camera"></i>
			<h1 class="orange-color"><strong><%=currentUser.firstName%> <%=currentUser.lastName%></strong></h1>
		</div>

		<hr>
		<div class="row">
			<div class="col">
				<button class="btn btn-primary">Show 1</button>
			</div>
			<div class="col">
				<button class='btn btn-primary'>Show 2</button>
			</div>
			<div class="col">
				<button class='btn btn-primary'>Show 3</button>
			</div>
			<div class="col">
				<button class='btn btn-primary'>Show 4</button>
			</div>
			<div class="col">
				<button class='btn btn-primary'>Show 5</button>
			</div>
			<div class="col">
				<button class='btn btn-primary'>Edit Profile</button>
			</div>			
		</div>
	</div>
	<div id="left-section">
		<h1>Settings</h1>
		<ul>
			<li class="active">Account</li>
			<li>Setting 2</li>
			<li>Setting 3</li>
		</ul>
	</div>
	<div id="right-section">
		<div class="row">
			<div class="col-md-8">
				<h1>Account</h1>
				<h2>Explanation of this tab</h2>
				<p>Signed in as <%=currentUser.email%></p>
			</div>
			<div class="col-md-4">
				<img src="/photos/logo.jpeg">
			</div>
		</div>
		<hr>
		<h2>Your Profile</h2>
		<div class="row">
			<div class="col">
				<h3>Edit Profile Image</h3>
			</div>
			<div class="col">
				<form action="/user/<%=currentUser._id%>/edit" method="POST" enctype="multipart/form-data">
					<input type="file" name="profile_pic">
					<button>Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="photo-selector" id="photo-new-or-edit">
	<div class="row">
		<div class="col-lg-10">
			<h1>Update Profile Picture</h1>
		</div>
		<div class="col-lg-2">
			<h1>
				<i class="fas fa-times-circle"></i>
			</h1>				
		</div>
	</div>	
	<hr>
	<div class="row">
		<div class="col">
			<button id="new-photo" class="btn btn-primary">+  Upload New Photo</button>
		</div>
		<div class="col">
			<button class="btn btn-primary"><i class="fas fa-pen"></i></button>
		</div>

	</div>
	<div class="row">
		<div class="col">
			<h2>Previous Photo</h2>
		</div>
	</div>
</div>
<div class="photo-selector" id="photo-editor">
	<div class="row">
		<div class="col-lg-10">
			<h1>Update Profile Picture</h1>
		</div>
		<div class="col-lg-2">
			<h1>
				<i class="fas fa-times-circle"></i>
			</h1>				
		</div>
	</div>	
	<hr>
	<div id="photo">
		
			<img id="profile_img" src="">

			<div class="cut-out">
				
			</div>
	</div>
	<div class="slidecontainer">
  		<input type="range" min="50" max="200" value="50" class="slider" id="myRange">
	</div>
	<hr>
	<div class="row">
		<div class="col-lg-8">
			
		</div>
		<div class="col-lg-2">
			<button class="btn btn-primary">Cancel</button>
		</div>
		<div class="col-lg-4">
			<div onsubmit="changeVals()" id="myform">
				<input type="hidden" name="orient[dimension]" id="dimension">
				<input type="hidden" name="orient[top]" id="top_id">
				<input type="hidden" name="orient[left]" id="left_id">
				<input type="file" accept="image/x-png,image/gif,image/jpeg" onchange="readURL(this);" name="profile_image" id="profile_pic" style="display: none;">
				<button onclick="changeVals()" class="btn btn-primary">Save</button>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	$('#user-info i').on('click', function(){
		$('.page-container').addClass('hide');
		$('#photo-new-or-edit').addClass('show');
	})

	$('.photo-selector i').on('click', function(){
		showMainPage();
	});

	function showMainPage(){
		$('.page-container').removeClass('hide');
		$('.photo-selector').removeClass('show');
		$('#photo-editor').removeClass('show');
	}


	var profileImage;
	function changeVals(){
		var reader = new FileReader();
		var imageProp = document.getElementById("profile_img").style;
		var image = new Image();
		image = document.getElementById('profile_img');
  		var canvas = document.createElement('canvas');
 		var ctx = canvas.getContext('2d');

       	canvas.height = 250;
    	canvas.width = 250;

    	

    	var widthFactor = image.naturalWidth / image.width;
    	var heightFactor = image.naturalHeight / image.height;
    	var topMove = parseInt(imageProp.top.substring(0, imageProp.top.length-2));
    	var leftMove = parseInt(imageProp.left.substring(0, imageProp.left.length-2));
    	console.log(leftMove);
    	console.log(topMove);
    	console.log(widthFactor);
    	console.log(heightFactor);

		ctx.drawImage(image, (95 * widthFactor) - (leftMove * widthFactor), (37 * heightFactor) - (topMove * heightFactor), 250 * widthFactor, 250 * heightFactor,0,0,250,250);
		// drawImageProp(ctx, image, 0,0, 250,250);
		//100 37

		var profile_pic = document.getElementById('profile_pic').files[0];
		
		
		
		reader.readAsDataURL(profile_pic);

		reader.onload = function (e) {
			var data = {
				'orient[dimension]': $('#profile_img').attr('height'),
				'orient[top]': imageProp.top,
				'orient[left]': imageProp.left,
				'cropped_profile_image': canvas.toDataURL('image/jpeg'),
				'profile_image': e.target.result
			}
			sendImage(data);

	    };
		showMainPage();
	}
	function drawImageProp(ctx, img, x, y, w, h, offsetX, offsetY) {

    if (arguments.length === 2) {
        x = y = 0;
        w = ctx.canvas.width;
        h = ctx.canvas.height;
    }

    // default offset is center
    offsetX = typeof offsetX === "number" ? offsetX : 0.5;
    offsetY = typeof offsetY === "number" ? offsetY : 0.5;

    // keep bounds [0.0, 1.0]
    if (offsetX < 0) offsetX = 0;
    if (offsetY < 0) offsetY = 0;
    if (offsetX > 1) offsetX = 1;
    if (offsetY > 1) offsetY = 1;

    var iw = img.naturalWidth,
        ih = img.naturalHeight,
        r = Math.min(w / iw, h / ih),
        nw = iw * r,   // new prop. width
        nh = ih * r,   // new prop. height
        cx, cy, cw, ch, ar = 1;

    // decide which gap to fill    
    if (nw < w) ar = w / nw;                             
    if (Math.abs(ar - 1) < 1e-14 && nh < h) ar = h / nh;  // updated
    nw *= ar;
    nh *= ar;

    // calc source rectangle
    cw = iw / (nw / w);
    ch = ih / (nh / h);

    cx = (iw - cw) * offsetX;
    cy = (ih - ch) * offsetY;

    // make sure source rectangle is valid
    if (cx < 0) cx = 0;
    if (cy < 0) cy = 0;
    if (cw > iw) cw = iw;
    if (ch > ih) ch = ih;

    // fill image in dest. rectangle
    ctx.drawImage(img, cx, cy, cw, ch,  x, y, w, h);
}

	function sendImage(data) {
	  let urlEncodedData = "",
      urlEncodedDataPairs = [],
      name;

      for( name in data ) {
    		urlEncodedDataPairs.push( encodeURIComponent( name ) + '=' + encodeURIComponent( data[name] ) );
  	  }
   	  urlEncodedData = urlEncodedDataPairs.join( '&' ).replace( /%20/g, '+' );

	  var xmlHttpReq = false;

	  if (window.XMLHttpRequest) {
	    ajax = new XMLHttpRequest();
	  }
	  else if (window.ActiveXObject) {
	    ajax = new ActiveXObject("Microsoft.XMLHTTP");
	  }

	  ajax.open("POST", "/user/<%=currentUser._id%>/edit/");
	  ajax.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

	  ajax.onreadystatechange = function() {
	    
	  }
	  ajax.send(urlEncodedData);
	}

	$('#new-photo').on('click', function(){
		var input = $(document.getElementById("profile_pic"));
        input.trigger("click"); // opening dialog
        return false;
	});

	function readURL(input) {
	  if (input.files && input.files[0]) {
	  	$('#photo-editor').toggleClass('show');
	  	$('#photo-editor img').attr('height', '50%');
		$('#photo-editor img').attr('width', '50%');
		document.getElementById("profile_img").style.left = '0px';
		document.getElementById("profile_img").style.top = '0px';
	    var reader = new FileReader();
	    reader.onload = function (e) {
	      $('#profile_img')
	        .attr('src', e.target.result);
	    };

	    profileImage=input.files;
	    reader.readAsDataURL(input.files[0]);
	  }
	}

	$('.slidecontainer input').on('input', function(){
		$('#photo-editor img').attr('height', this.value + '%');
		$('#photo-editor img').attr('width', this.value + '%');
	});

	dragElement(document.getElementById("photo"),document.getElementById("profile_img"));

function dragElement(cover, elmnt) {
  var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
  if (document.getElementById(elmnt.id + "header")) {
    // if present, the header is where you move the DIV from:
    document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
  } else {
    // otherwise, move the DIV from anywhere inside the DIV:
    cover.onmousedown = dragMouseDown;
  }

  function dragMouseDown(e) {
    e = e || window.event;
    e.preventDefault();
    // get the mouse cursor position at startup:
    pos3 = e.clientX;
    pos4 = e.clientY;
    document.onmouseup = closeDragElement;
    // call a function whenever the cursor moves:
    document.onmousemove = elementDrag;
  }

  function elementDrag(e) {
    e = e || window.event;
    e.preventDefault();
    // calculate the new cursor position:
    pos1 = pos3 - e.clientX;
    pos2 = pos4 - e.clientY;
    pos3 = e.clientX;
    pos4 = e.clientY;
    // set the element's new position:
    elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
    elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
  }

  function closeDragElement() {
    // stop moving when mouse button is released:
    document.onmouseup = null;
    document.onmousemove = null;
  }
}

</script>

<%- include('./partials/footer')%>