<div id="work" class="item">
	<button onclick="showAddWorkForm()" id="add-work-place" class="btn btn-primary strip orange-color"><i style="color:inherit; margin-bottom:20px;" class="fas fa-plus-circle"></i>   Add a workplace</button>
	<form class='work' onsubmit="event.preventDefault(); checkForm(this, false);" action="/user/<%=currentUser._id%>/work/new" method="POST" autocomplete="off" id="new-work" novalidate>
		<img id='selected-company' class="selected-company" src="">
		<input type="hidden" id="selected-company-hidden-input" name="companyLogo">
		<div class="row form-group">
			<div class="col autocomplete">
				<input oninput="requestLogos(this);" id="company" type="text" class="form-control" name="company" placeholder="Company" required>
				<div class="invalid-feedback">
						<i class="fas fa-exclamation-circle"></i>
				</div>
				<div class="valid-feedback">
				 	<i class="fas fa-check"></i>
				</div>
			</div>
			<div class="col autocomplete">
				<input type="text" oninput="requestPositions(this)" id="position" class="form-control" name="position" placeholder="Position" required>
				<div class="invalid-feedback">
						<i class="fas fa-exclamation-circle"></i>
				</div>
				<div class="valid-feedback">
				 	<i class="fas fa-check"></i>
				</div>
			</div>
		</div>
		<div class="row form-group">
			<div class="col">
				<input type="text" oninput="requestCities(this)" id="city" class="form-control" name="city" placeholder="City/Town" required>
				<div class="invalid-feedback">
						<i class="fas fa-exclamation-circle"></i>
				</div>
				<div class="valid-feedback">
				 	<i class="fas fa-check"></i>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<textarea class="form-control" name="description" placeholder="Description"></textarea>
			</div>
		</div>
		<div class="row form-group">
			<div class="col">
				<h2>Time Period</h2>
			</div>
		</div>
		<div class="row form-group">
			<div class="col form-check">
				<input class="form-check-input" onchange="toggleFromTo(this)" type="checkbox" name="currentlyWorking" value="" id="defaultCheck1">
					<label class="form-check-label" style="color: white;" for="defaultCheck1">I currently work here</label>
			</div>
		</div>
		<div class="row form-group timeFrame">
			<div class="col-lg-2">
				<select class="form-control" id="from" name="from"></select>
				<div class="valid-feedback">
					Looks good!
					</div>
					<div class="invalid-feedback">
					Start date can't be before end date
					</div>
			</div>
			<div class="col-lg-1">
				<label style="color: white;">to</label>
			</div>
			<div class="col-lg-2">
				<select class="form-control" id="to" name="to"></select>
			</div>
			<div class="col-lg-7">
				
			</div>
		</div>
		<hr>
		<button onclick="hideAddWorkForm();" type="button" class="btn btn-primary cancel">Cancel</button>
		<button class="btn btn-primary save">Save</button>
	</form>
	<ul>
		<% if(currentUser && currentUser.about && currentUser.about.work){%>
			<%currentUser.about.work.forEach(function(o){%>
				<li>
					<div class="row workplace" id="<%=o._id%>">
						<div class="col-lg-1">
							<img src="<%=o.companyLogo%>">
						</div>
						<div class="col-lg-9">
							<div class="row">
								<div class="col">
									<h2><%=o.position%></h2>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<%if(o.currentlyWorking){%>
										<p>Since <%=o.from%></p>
									<%}else{%>
										<p>From <%=o.from%> to <%=o.to%></p>
									<%}%>
									
								</div>
							</div>
						</div>
						<div class="col-lg-2">
							<i onclick="showEditDelete(this)" class="fas fa-ellipsis-h"></i>
							<div class="edit-delete">
								<ul>
									<li>
										<button onclick='editWork("<%=currentUser._id%>","<%=o._id%>");' class="btn btn-primary edit">
											Edit
										</button>
									</li>
									<li>
										<form style="display: inline;" action="/user/<%=currentUser._id%>/work/<%=o._id%>/?_method=DELETE" method='POST'>
											<button class="btn btn-primary delete">
												Delete
											</button>
										</form>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</li>
				<form  onsubmit="event.preventDefault(); checkForm(this, true);" action="/user/<%=currentUser._id%>/work/<%=o._id%>/?_method=PUT" method="POST" class='work <%=o._id%> update-work' autocomplete="off" novalidate>
					
				</form>
			<%});%>
		<%}%>
	</ul>
</div>